name: CI

on:
  push:
    tags-ignore:
      - "v*"
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go/go.mod
      - name: Test
        working-directory: go
        run: go test ./...
